@import '../service/**'

*
  pointer-events none

html
  padding 0
  margin 0
  width 100%
  height 100%
  position relative
  -ms-overflow-x hidden
  overflow-x hidden
  body
    position relative
    min-height 100% 
    font-family 'Lobster', cursive
    background-color $color_blue
    color $color_blue 
    pointer-events all
    
    // &:hover .page
    //   transform translateX(90vw)
    //   max-height 100vh
      
  .page
    max-width 100% 
    z-index 2
    position relative
    overflow hidden
    pointer-events all
    
    transition transform .25s
    transform translateX(0)

    background-image url('../images/belly.png')
    background-position  50% 50%
    background-repeat no-repeat
    background-attachment fixed
    background-size cover
    
    -ms-interpolation-mode nearest-neighbor
    image-rendering -moz-crisp-edges
    image-rendering -o-crisp-edges
    image-rendering -webkit-optimize-contrast
    image-rendering pixelated