@import '../service/**'

.controls
  height 20vh
  line-height 20vh
  margin 0 0 10vh
  text-align center
  display block
  font-size 0
  button
    pointer-events all
    outline none
    width 80px
    height 80px
    display inline-block
    vertical-align middle
    border-style none
    border-radius 100%
    background $color_white 
    margin 0 20px
    cursor pointer
    position relative
    transition transform $transition-time
    will-change transform
    &:before
      content "+"
      position absolute
      
      bottom 0
      right 0
      
      font-size 14px
      line-height 18px
      color $color_blue 
      background-color $color_white 
      width 20px 
      height 20px
      padding 20px 0 0 20px 
      border-radius 0 0 10px 0
    &:focus,
    &:hover
      transform scale(1.2)
    &:after
      content "."
      display block
      overflow hidden
      text-indent -9999px
      width 40px
      height 40px
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      margin auto
      background-position 50% 50%
      background-repeat no-repeat
      background-size 80px 80px
    &.note:after
      background-image url("../svg/notes.svg") 
    &.photo:after
      background-image url("../svg/photo.svg") 
    &.weight:after
      background-image url("../svg/weight.svg") 

      