@import '../service/**'

.landing
  height 50vh
  line-height 50vh 
  text-align center
  margin 0
  &__title
    display inline-block
    vertical-align middle
    font-size 18vh
    line-height 1.1
    color $color_white
     