@require '../service/**'

.landing
  height 60vh
  line-height 60vh 
  text-align center
  margin 0 0 10vh 
  &__title
    display inline-block
    vertical-align middle
    font-size 18vh
    line-height 1.1
    color $color_white 
     