@import '../service/**'

body.state-note-form 
  .page
    transform translateX(50vw)
    max-height 100vh
    .day__overlay
      display block
      opacity 1
  .page__bg
    transform translateX(50vw)
    max-height 100vh
  .note-form
    opacity 1
    pointer-events all
    transition none
    
@media (max-width: 800px)

  body.state-note-form 
    .page
      transform translateX(80vw)
    .page__bg
      transform translateX(80vw)
  body
    .note-form
      right 20vw
      width 80vw
    

.note-form
  height 100vh
  width 50vw
  
  position fixed
  left 0
  top 0
  bottom 0
  right 50vw
  
  background-color $color_white
  z-index 1
  box-sizing border-box
  
  display block
  opacity 0
  transition opacity 0s linear
  transition-delay $transition-time
  
  textarea
    pointer-events all
    display block
    border-style none
    width 100%
    height calc(100% - 120px)
    padding 10px
    resize none
    box-sizing border-box
    margin 0
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif 
    font-size 16px
    line-height 24px
    font-weight normal
    outline none
    z-index 1
    
  button
    outline none
    pointer-events all
    background $color_blue url('../svg/okw.svg') 50% 50% no-repeat
    background-size 40px 
    color $color_white
    display block
    
    width 80px
    height 80px
    border-radius 100%
    line-height 80px
    text-align center
    padding 0
    border-style none
    
    cursor pointer
    
    position absolute
    bottom 20px
    left 0
    right 0
    margin auto
    filter grayscale(0)
    transition transform $transition-time, filter $transition-time, opacity $transition-time
    will-change transform, filter, opacity
    opacity 1
    
    &[disabled]
      transform scale(.8)
      filter grayscale(100%)
      opacity .25
      cursor default
      &:focus,
      &:hover
        transform scale(.8)
    
    &:focus,
    &:hover
      transform scale(1.2)