@import '../service/**'

.note-form
  width 50vw
  height 100vh
  
  position absolute
  left 0
  right 50vw
  top 0
  bottom 0 
  background-color $color_white
  z-index 1
  box-sizing border-box
  // display none
  
  textarea
    pointer-events all
    display block
    border-style none
    width 100%
    height calc(100% - 120px)
    padding 10px
    resize none
    box-sizing border-box
    margin 0
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif 
    font-size 16px
    line-height 24px
    font-weight normal
    outline none
    z-index 1
    
  button
    outline none
    pointer-events all
    background $color_blue url('../svg/okw.svg') 50% 50% no-repeat
    background-size 40px 
    color $color_white
    display block
    
    width 80px
    height 80px
    border-radius 100%
    line-height 80px
    text-align center
    padding 0
    border-style none
    
    cursor pointer
    
    position absolute
    bottom 20px
    left 0
    right 0
    margin auto
    
    transition transform $transition-time
    will-change transform
    
    &:focus,
    &:hover
      transform scale(1.2)