@require '../service/**'

.day
  position relative
  text-align center
  &__dot
    width 100px
    height 100px
    border-radius 100%
    background-color $color_white  
    position absolute
    top -50px
    left 0
    right 0
    margin auto
     