@import '../service/**'

body.state-notes
  .page
    transform translateX(50vw)
    max-height 100vh
    .day__overlay
      display block
  .page__bg
    transform translateX(50vw)
    max-height 100vh
  .notes
    z-index 2
    opacity 1
    pointer-events all
    transition none
    &__note,
    &__title
      pointer-events all
    
@media (max-width: 800px)

  body.state-notes
    .page
      transform translateX(80vw)
    .page__bg
      transform translateX(80vw)
  body
    .notes
      right 20vw
      width 80vw

.notes
  position fixed
  top 0
  left 0
  bottom 0
  width 50vw
  height 100vh 
  background-color $color_white
  padding 20px 
  box-sizing border-box
  font-size 16px
  line-height 24px
  font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif 
  color #333 
  overflow auto
  -ms-overflow-x hidden
  overflow-x hidden
  -ms-overflow-y auto
  overflow-y auto
  pointer-events none
  display block
  opacity 0
  transition opacity 0s linear
  transition-delay $transition-time
  &__title
    display block
    border-bottom 1px solid #ededed
    padding 12px 0
    margin 0 0 24px
    color $color_grey
    &:first-letter
      text-transform uppercase
  &__note
    border-bottom 1px dotted #ededed
    margin 0 0 24px
    &:last-child
      border-bottom-style none
    p
      margin 0 0 24px 
    